<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>basic.html</title>
  <meta charset = "UTF-8" />
</head>
<body>

<h1>Bonjour les {{ amis }} :</h1>
<ul>
  <li>Zakaria EL BAQAL - Déveoppeur Javascript 5 ans d'expérience.</li>
  <li>L'houssaine BOUGANFOU - Développeur et concepteur JAVA/JEE, 7 ans d'expérience. </li>
  <li>Tarik ZIARI - Développeur polyvalent JAVA/JEE, 5 ans d'experience.</li>
  <li>Adil TAGGUINE - Développeur et Architecte JAVA/JEE, 10 ans d'expérience.</li>
</ul>


</body>
</html>
