<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>DevOps Team</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<h1>Bonjour les {{ amis }} :</h1>

<div class="alert alert-primary" role="alert">
 Zakaria EL BAQAL - Déveoppeur Javascript 5 ans d'expérience.
</div>

<div class="alert alert-secondary" role="alert">
 L'houssaine BOUGANFOU - Développeur et concepteur JAVA/JEE, 7 ans d'expérience.
</div>

<div class="alert alert-success" role="alert">
 Tarik ZIARI - Développeur polyvalent JAVA/JEE, 5 ans d'experience.
</div>

<div class="alert alert-danger" role="alert">
 Adil TAGGUINE - Développeur et Architecte JAVA/JEE, 10 ans d'expérience.
</div>


</body>
</html>
