<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>DevOps Team</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
<h1>Bonsoir les {{ amis }} :</h1>

  
<div class="alert alert-primary" role="alert">
 <img width="50" height="50" src="https://f0.pngfuel.com/png/340/946/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /> 
 <b>Zakaria EL BAQAL</b> - Déveoppeur Javascript 5 ans d'expérience.
</div>

<div class="alert alert-secondary" role="alert">
 <img width="50" height="50" src="https://f0.pngfuel.com/png/340/946/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /> 
  <b>L'houssaine BOUGANFOU</b> - Développeur et concepteur JAVA/JEE, 7 ans d'expérience.
</div>

<div class="alert alert-success" role="alert">
 <img width="50" height="50" src="https://f0.pngfuel.com/png/340/946/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /> 
 <b>Tarik ZIARI</b> - Développeur polyvalent JAVA/JEE, 5 ans d'experience.
</div>

<div class="alert alert-danger" role="alert">
 <img width="50" height="50" src="https://f0.pngfuel.com/png/340/946/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /> 
 <b>Adil TAGGUINE</b>- Développeur et Architecte JAVA/JEE, 10 ans d'expérience.
</div>


<div class="alert alert-secondary" role="alert">
 <img width="50" height="50" src="https://f0.pngfuel.com/png/340/946/man-face-illustration-avatar-user-computer-icons-software-developer-avatar-png-clip-art.png" /> 
 <b>Rachid SADIK</b> - Scrum master et Développeur Compétant JAVA, 11 ans d'expérience.
</div>
</div>

</body>
</html>
